In [2]:
#req: count number of elements in list
cities = ['bangalore','chennai','hydrabad','mumbai','pune']
len(cities)      #len method will return number of elements in list.

5

In [4]:
#introduction to for loops
for city in cities:       #for temporary_variable in main_variable:
    print(city)           #indentaion print(temporary_variable)

bangalore
chennai
hydrabad
mumbai
pune

In [9]:
#enhancement of code
for city in cities:
    print(f"{city.title()} is a city in India.")

print("\nIndia is a country in Asia")

Bangalore is a city in India.
Chennai is a city in India.
Hydrabad is a city in India.
Mumbai is a city in India.
Pune is a city in India.

India is a country in Asia

In [12]:
#req: print numbers from 1 to 5 using for loop
for num in range(1,6):
    print(num)

1
2
3
4
5

In [14]:
#req: list numbers from 1 to 15
numbers = list(range(1,16))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [15]:
#req: make a list of even numbers
even_num = list(range(2,20,2))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
#req: make a list of odd numbers
odd_num = list(range(3,20,2))
print(odd_num)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
# minumum of odd number
min(odd_num)

3

In [18]:
# sum of even numbers
sum(even_num)

90

In [20]:
#slicing of list
cities = ['bangalore','chennai','hydrabad','mumbai','pune']
print(cities[0:1])
print(cities[2:4])

['bangalore']
['hydrabad', 'mumbai']