In [15]:
# Variables in Python

In [4]:
x = 5    # assigning values to variable 'x'
y = 2    # assigning values to variable 'y'

In [5]:
x + y    # addition operation

7

In [6]:
# Rules of declaring variables in Python

In [7]:
# Rule 1 --> No name spaces allowed in variable declaration
first name = 'susandhi'
last name = 'pal'

SyntaxError: invalid syntax (<ipython-input-7-88b775f33af0>, line 2)

In [9]:
# handling with name space --> Option 1
first_name = 'susandhi'
last_name = 'pal'

In [10]:
# handling with name space --> Option 2
firstname = 'susandhi'
lastname = 'pal'

In [11]:
# Rule 2 --> variable name should not start with numbers
1st_name = 'susandhi'

SyntaxError: invalid syntax (<ipython-input-11-d24ec0549b3f>, line 2)

In [12]:
#but variable name can hold numbers in middle or end.
name1 ='susandhi'
last2name = 'pal'

In [14]:
# Rule 3 --> don't use special characters (@, $, &, #, !, etc.) in variable name
name@first = 'susandhi'

SyntaxError: can't assign to operator (<ipython-input-14-ff28333ecac6>, line 2)

In [18]:
# String datatypes --> A string is a series of characters.
# we can use single, double and triple quotes as well for defining a string, choise upon user.
name = 'susandhi'
name1 = "susandhi"
first_name = '''susandhi'''
last_name = """pal"""

In [19]:
# Mutable Datatype :--> is the data type which can be changed, modified and re-assigned once it has been created.
# Immutable Datatype :--> can't be changed, modified and altered once it is created.

# ---** String is a immutable datatype **---

In [20]:
# string methods --> build-in methods
name = 'susandhi pal'
print(name)

susandhi pal

In [22]:
# enhancement
print(name.title())   # .title() method converts 1st letter of each word in string to capital
print(name.upper())   # .upper() method converts whole string to uppercase
print(name.lower())   # .lower() method converts whole string to lowercase

Susandhi Pal
SUSANDHI PAL
susandhi pal

In [23]:
# --- Introduction to f string ---
#1. fstring allow us to create place holders using curly braces {}
#2. custom formatting
#3. maintaining relations

In [33]:
first_name = 'tony'
last_name = 'stark'
suffix = '1'

In [34]:
full_name = f" {first_name} {last_name}{suffix}"
print(full_name)

 tony stark1

In [36]:
full_name = f " {first_name} {last_name}"    #we sholud not give spaces inbetween f and "". It should be f" {place_holder1} {place_holder2}"
print(full_name)

SyntaxError: invalid syntax (<ipython-input-36-f215b3fcfe89>, line 1)

In [37]:
print(full_name.title())
print(full_name.upper())
print(full_name.lower())

 Tony Stark1